body {
  background-color: #282C34;
  font-family: 'Consolas', 'DejaVu Sans Mono', monospace;
  font-size: 15px;
  color: #aaaaaa;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}


/*div, li, ul {
  border: 1px solid white;
}*/

#thread-select {
  float: left;
  display: inline-block;
  height: 240px;
  margin-bottom: 10px;
  width: 240px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dddddd;
}

::-webkit-scrollbar-thumb:active {
  background: #9f9f9f;
}

::-webkit-scrollbar-track {
  background: #666666;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

div.first-thread {
  border-top: 1px solid #777777;
}

div.thread {
  display: block;
  border-bottom: 1px solid #777777;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  color: #dddddd;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

div.thread:hover {
  color: #ffffff !important;
}

div.thread:active {
  color: #dadada !important;
}

ul {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

li {
  width: 98%;
}

#control-panel {
  float: right;
  width: 583px;
  display: inline-block;
  /*border-left: 1px solid #777777;*/
  padding-left: 3px;
}

.btn {
  display: inline-block;
  padding: 3px;
  /*border-radius: 3px;*/
  /*border: 1px solid #11151B;*/
  /*background-color: #21252B;*/
  color: #dddddd;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

div.btn:hover {
  color: #ffffff;
}

div.btn:active, div.thread:hover {
  color: #dadada;
}

.btn-large {
  font-size: 18px;
  padding: 10px;
}

.text-input, select {
  font-family: 'Consolas', 'DejaVu Sans Mono', monospace;
  background-color: #282C34;
  color: #888888;
  font-size: 15px;
  border: none;
  padding: 3px;
  padding-left: none;
  padding-right: none;
  margin: 1px;
  margin-bottom: 2px;
  width: 180px;
  outline: none;
  box-shadow: none;
}

textarea {
  font-family: 'Consolas', 'DejaVu Sans Mono', monospace;
  background-color: #282C34;
  color: #888888;
  font-size: 15px;
  border: none;
  padding: 3px;
  resize: none;
}

input[type=number] {
  width: 35px;
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-input::-webkit-input-placeholder {
  color: #666666;
}

select::-webkit-input-placeholder {
  color: #666666;
}

textarea::-webkit-input-placeholder {
  color: #666666;
}

#repetition-string {
  width: 213px !important;
}

.regex {
  width: 115px;
}

div.h-spacer {
  width: 99%;
  margin: auto;
  height: 1px;
  background-color: #777777;
}

.right-border {
  border-right: 1px solid #777777;
  padding-right: 10px !important;
}

#thread-id-input {
  width: 123px;
}

#thread-emoji-input {
  width: 56px;
}

#thread-color-input {
  font-weight: 550;
  border: none;
  font-family: 'Consolas', 'DejaVu Sans Mono', monospace;
  font-size: 15px;
  padding-left: 0px;
  width: 51px;
  background-color: #282C34;
}

#password-field {
  width: 100px;
}

#user-select {
  width: 140px;
}

#footer {
  color: #555555;
  float: right;
  padding: 3px;
  margin-top: 5px;
}

#chat-field {
  width: 824px;
  height: 296px;
  padding: 5px;
  margin-top: 20px;
  background-color: #383C44;
  display: inline-block;
}

#chat-field {}

#message-container {
  overflow: hidden;
  overflow-y: scroll;
  padding: 5px;
  margin: 5px;
  width: 100% - 10px;
  height: 80%;
  background-color: #282C34;
}

#input-container {
  width: calc(100% - 10px);
  margin: auto;
  margin-top: 10px;
  height: 26px;
}

#chat-input {
  font-family: 'Consolas', 'DejaVu Sans Mono', monospace;
  background-color: #282C34;
  color: #888888;
  font-size: 15px;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  box-shadow: none;
}

.right {
  float: right;
}

.drag {
  -webkit-app-region: drag;
}

textarea, input, select, div {
  -webkit-app-region: no-drag;
  margin-bottom: 3px;
}

.center {
  margin: auto;
  width: 330px;
}

.margin-bottom {
  margin-bottom: 5px;
}

textarea:focus, input:focus, #thread-color-input:focus, select:focus, select:active, option:focus {
  outline: none;
  margin-bottom: 1px;
  border-bottom-color: #666666;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

option:focus {
  background-color: #383C44;
}

option:active {
  background-color: #383C44;
}

#nickname-input {
  width: 100px;
}

#selected-thread {
  display: inline-block;
  padding: 3px;
}

#status-bar {
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #11151B;
  background-color: #EA0;
  width: 120px;
  color: black;
  align-items: center;
}

.nyi {
  color: red !important;
  cursor: default;
}
